body {
  font-family: monospace;
  background: aliceblue;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  padding: 35px;
  width: 280px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.52);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.43s;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
}

.nameFeild,
.emailField,
.passwordFeild {
  display: flex;
  flex-direction: column;
}

label {
  margin: 4px;
}
input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.8s;
}
input:focus {
  border-color: #0d3b66;
  outline: none;
}

.btns {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 100px;
  background: #0d3b66;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background: #125fa7;
  color: #fff;
}
.container:hover {
  transform: scale(1.03);
}
.savedData {


    margin-top: 10px;
  padding: 5px 10px;
  background: #f0f0f0;
  border-radius: 10px;
    
  overflow-wrap: break-word;
  

}
.savedData:empty {
  display: none;
}
.savedData h3 {
    justify-self: center;
    font-size: 15px; 
    margin: 3px;
   padding: 0px;


}
.savedData p{
       font-size: 12px; 
    margin: 3px;
   padding: 0px;
}

small {
  margin-left: 10px;
  margin-top: 5px;
  color: red;
}
