body {
  font-family: monospace;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.container {
  background: #ffffff;
  padding: 35px;
  width: 380px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.52);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.43s;
}

header p {
    text-align: center;
    margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
}

.nameFeild,
.emailField,
.passwordFeild {
  display: flex;
  flex-direction: column;
}

label {
  margin: 4px;
}
input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.8s;
}
.row {
    display: flex;
    gap: 20px; 
    align-items: flex-start;
    margin: 0px;
}

.ageFeild, .gender {
    flex: 1; 
     margin: 0px;
}
.ageFeild label,
.gender label {
    display: block;      
    margin-bottom: 5px;  

  
}




input:focus {
  border-color: #0d3b66;
  outline: none;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {

  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 120px;
  background: #0d3b66;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #125fa7;
  color: #fff;
}
.container:hover {
  transform: scale(1.03);
}


small {
  margin-left: 10px;
  margin-top: 5px;
  color: red;
}



.containerMessageText {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

}
.containerMessageText label{
    height: 0px;
}

.containerMessageText textarea {


    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    resize: vertical;       
    min-height: 30px;
    transition: 0.3s;
}


.containerCheckBox small {

  display: block

}

.containerMessageText textarea:focus {
    outline: none;
    border-color: #ffffff; 
    box-shadow: 0 0 5px rgba(13, 59, 102, 0.3);
}
.displayDiv{
    align-self: center;
}
.displayBtn{
 
   width: 250px;

}

